/* Base */
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@import "variables";
@import "mixins";
@import "reset";
@import "responsive";

/* Partials */

@import "partials/header";
@import "partials/menu";
@import "partials/card";
@import "partials/hamburger";
@import "partials/footer";
@import "partials/class-colors";
@import "partials/quality";
@import "partials/faction-colors";
@import "partials/animations";
@import "partials/tooltip";

/* Pages */

@import "pages/global";
@import "partials/character-info";

a {
  color: #ff628c;
}

a:visited {
  color: #3ad900;
}

a:hover, a:focus {
  color: coral;
}

.clicked {
  pointer-events: none;
}

.primary {
  color: #9effff;
}

.secondary {
  color: #80ffbb;
}

.alert {
  color: #ff9d00;
}

.success {
  color: #a5ff90;
}

.warning {
  color: #ff628c;
}
