.fadeIn200,
.fadeIn400,
.fadeIn600,
.fadeIn800,
.fadeInOut200,
.fadeInOut400,
.fadeInOut600,
.fadeInOut800 {
  display: block !important;
  animation-name: fadeIn;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.fadeInOut200,
.fadeInOut400,
.fadeInOut600,
.fadeInOut800 {
  animation-iteration-count: 2;
}

.fadeInOut200,
.fadeIn200 {
  animation-duration: 200ms;
}

.fadeInOut400,
.fadeIn400 {
  animation-duration: 400ms;
}

.fadeInOut600,
.fadeIn600 {
  animation-duration: 600ms;
}

.fadeInOut800,
.fadeIn800 {
  animation-duration: 800ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

$colors: $heirloom, $artifact, $legendary, $epic, $rare, $uncommon, $common;
$names: "heirloom", "artifact", "legendary", "epic", "rare", "uncommon", "common";
@for $i from 1 through length($colors) {
  .btn-glow-#{nth($names, $i)} {
    animation: glow-#{nth($names, $i)} 5s infinite;
  }

  @keyframes glow-#{nth($names, $i)} {
    0%,
    100% {
      box-shadow: 0 0 5px nth($colors, $i);
    }
    40%,
    60% {
      box-shadow: 0 0 25px nth($colors, $i);
    }
  }
}
