.warrior {
  color: $warrior;
}

.warrior-bg {
  background-color: $warrior;
}

.paladin {
  color: $paladin;
}

.paladin-bg {
  background-color: $paladin;
}

.hunter {
  color: $hunter;
}

.hunter-bg {
  background-color: $hunter;
}

.rogue {
  color: $rogue;
}

.rogue-bg {
  background-color: $rogue;
}

.priest {
  color: $priest;
}

.priest-bg {
  background-color: $priest;
}

.deathknight {
  color: $deathknight;
}

.deathknight-bg {
  background-color: $deathknight;
}

.shaman {
  color: $shaman;
}

.shaman-bg {
  background-color: $shaman;
}

.mage {
  color: $mage;
}

.mage-bg {
  background-color: $mage;
}

.warlock {
  color: $warlock;
}

.warlock-bg {
  background-color: $warlock;
}

.druid {
  color: $druid;
}

.druid-bg {
  background-color: $druid;
}

.demonhunter {
  color: $demonhunter;
}

.demonhunter-bg {
  background-color: $demonhunter;
}

.monk {
  color: $monk;
}

.monk-bg {
  background-color: $monk;
}