$colors: #c79c6e, #f58cba, #abd473, #fff569, #fff, #69ccf0, #9482c9, #ff7d0a, #a330c9, #c41f3b, #0070de, #00ff96;
$names: "warrior", "paladin", "hunter", "rogue", "priest", "mage", "warlock", "druid", "demonhunter", "deathknight", "shaman", "monk";
@for $i from 1 through length($colors) {
  .#{nth($names, $i)} {
    color: nth($colors, $i);
  }

  .#{nth($names, $i)}-bg {
    background-color: nth($colors, $i);
  }
}
