.faction-exalted {
  color: $exalted;
}

.faction-revered {
  color: $revered;
}

.faction-honored {
  color: $honored;
}

.faction-friendly {
  color: $friendly;
}

.faction-neutral {
  color: $neutral;
}

.faciton-factionnotmet {
  color: $factionnotmet;
}
