.progress-high {
  background: linear-gradient(to right, #0d4a00 0, #1b9601 100%);
}

.progress-partial {
  background: linear-gradient(to right, #7b3f00 0, #c76700 100%);
}

.progress-low {
  background: linear-gradient(to right, #69503f 0, #99755c 100%);
}
