.quality-rare {
  color: $rare;
}

.quality-epic {
  color: $epic;
}

.quality-common {
  color: $common;
}

.quality-legendary {
  color: $legendary;
}

.quality-poor {
  color: $poor;
}

.quality-uncommon {
  color: $uncommon;
}